h1 {
	font-family: "Open Sans Condensed", "Courier", sans-serif;
}
h2{
	font-family: "Open Sans Condensed", "Courier", sans-serif;
}
.container{
	width: auto;
	margin: auto;
	text-align: center;
}
.casa{
	width: 100px;
	height: 100px;
	border-style: solid;
	border-width: 3px;
	display: inline-block;
	background-size: cover;
	background-color: white;
}
body {
	background-image: url(img/capa.png); 
	background-size: cover;
	background-repeat: no-repeat;

}
#jogada{
	text-shadow: #fff;
}

.Butao{
	font-family: cursive;
	font-size: 10px;
	text-transform: uppercase;
	padding: 10px;
	border:none;
	border-radius: 20px;
	cursor: pointer;
}
.ButaoEfeito{
	background: #FD0800;
	color: #fff;
	box-shadow:0 5px #8E0601;
}
.ButaoEfeito:hover{
	background: #8E0601;
	color: #fff;
	box-shadow:0 5px #530300;
}
.ButaoEfeito:active{
	position: relative;
	top:5px;
	box-shadow:none;
}

.botao-index {
    font-size: 1.25em;
    background-color: #FD0800;
    color: #FFF;
    padding: .5em;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: .5s;
	border-radius: 20px;
}
.botao-index:focus,
.botao-index:hover {
    background-color: #8E0601;
    color: white;
}


#imagem{
	width: 70px;
	height: 70px;
}